{% extends 'account/base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div style="background-color:white;padding:24px;">

{% if validlink %}
<h1 style='text-align:center;font-weight:700;padding:24px;'>Password Reset</h1>

<form method="post">
    {% csrf_token %}
    {{ form.new_password1.label}}:
    {% render_field form.new_password1 class="form-control mt-1 mb-3" %}
    <ul>
        <li>Your password can't be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can't be a commonly used password.</li>
        <li>Your password can't be entirely numeric.</li>
    </ul>
    {{ form.new_password2.label}}:
    {% render_field form.new_password2 class="form-control mt-1 mb-3" %}
    {% if form.errors %}
    <div style="color:red">
        {% for key,value in form.errors.items %} 
            {{ value|escape }}
        {% endfor %}
    </div>
    {% endif %}
    <br>
    <div class="row">
        <div class="col-6 text-left">
        <button class="btn btn-primary" type="submit">Change password</button>
        </div>
        <div class="col-6 text-right">
        <p style="font-size:1rem">
            {% blocktrans with site_domain=current_site.domain %}<a href="{{ site_domain }}/">Return Home</a>{% endblocktrans %}
        </p>
        </div>
    </div>
</form>

{% else %}
<h1 style='text-align:center;font-weight:700;padding:24px;'>Email Invalid</h1>
<p>The password reset link was invalid, possibly because it has already been used.</p>
<p>Please request a new password reset.</p>
{% endif %}

</div>

{% endblock %}