{% extends 'account/base.html' %}
{% load i18n %}


{% block content %}
<div style="background-color:white;padding:24px;">
<h1 style='text-align:center;font-weight:700;padding:24px;'>Password Reset</h1>
    <p style="font-size:1rem">Congratulations! Your password has been set.</p>
    <p style="font-size:1rem">
        {% blocktrans with site_domain=current_site.domain %}You may go ahead and <a href="{{ site_domain }}/registration/login">sign in</a> now.{% endblocktrans %}
    </p>
    <p>{% blocktrans with site_domain=current_site.domain %}<a href="{{ site_domain }}/">Return Home</a>{% endblocktrans %}</p>
</div>
{% endblock %}