{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> -->


    <link rel="stylesheet" type="text/css" href="{% static 'registration.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">

    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}

</head>

<body style="background-color: white">

    <div id="es-reg-header">
        <div id="es-reg-header-div">
            <img id="es-reg-header-logo"
                src="https://res.cloudinary.com/hckhaid02/image/upload/v1612703364/e3studio/static/email/email_logo_mcsaw4.png"
                alt="es-logo" />
            <!-- <div id="es-reg-header-text">
                E<span class="es-reg-header-text-lower">LITE</span>
                S<span class="es-reg-header-text-lower">TUDIO</span>&nbsp;
                T<span class="es-reg-header-text-lower">ECHNOLOGIES</span>&nbsp;
                I<span class="es-reg-header-text-lower">NC.</span>
            </div> -->
        </div>
    </div>

    <div id="es-reg-content">
        <div id="es-login-content-div">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <footer id="es-reg-footer">
        <div id="es-reg-footer-div">Copyright © <span id="getYear"></span> ELITESTUDIO</div>
    </footer>
    {% block script%}{%endblock%}
    <script>
        document.getElementById("getYear").innerHTML = new Date().getFullYear();
    </script>
</body>

</html>