{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Email Activation" %}{% endblock %}


{% block content %}
<div style="background-color:white;padding:24px;">

<h1 style='text-align:center;font-weight:700;padding:24px;'>{% trans "Email Resend" %}</h1>
<p>{{ text_message }}</p>
<form method="post" action="{% url 'reset_password_confirm' uidb64=uidb64 token=token %}">
    {% csrf_token %}
    {{form.password_field.label}}
    {% render_field form.password_field class="form-control mb-3" %}
    {{form.confirm_field.label}}
    {% render_field form.confirm_field class="form-control" %}
    <br>
    <button class="btn btn-primary" type="submit">Confirm</button>
</form>

</div>
{% endblock %}
